<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="./img/logo.png" />
  </head>
  <body>
    <!--Header start-->
    <header id="header">
      <div id="logo">
        <img src="./img/logo.png" alt="logo" />
      </div>
      <h1>
        <a href="####">Master in CSS</a>
      </h1>
    </header>
    <!--Navegation Bar-->
    <nav id="nav">
      <ul>
        <li>
          <a href="./index.html">Home</a>
        </li>
        <li>
          <a href="./index.html">Content</a>
        </li>
        <li>
          <a href="./index.html">Requeriments</a>
        </li>
        <li>
          <a href="./index.html">Languages</a>
          <ul>
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">Javascript</a></li>
            <li><a href="#">React JS</a></li>
          </ul>
        </li>
        <li>
          <a href="./index.html">Frameworks</a>
          <ul>
            <li><a href="#">Less</a></li>
            <li><a href="#">Sass</a></li>
            <li><a href="#">Boostrap 4</a></li>
          </ul>
        </li>
        <li>
          <a href="./index.html">Projects</a>
        </li>
        <li>
          <a href="./index.html">Instructor</a>
        </li>
        <li>
          <a href="./index.html">Blog</a>
        </li>
        <li>
          <a href="./index.html">Contacts</a>
        </li>
        <li>
          <a href="./index.html">Extra</a>
        </li>
        <li>
          <a href="./index.html">Extra 2</a>
        </li>
      </ul>
    </nav>
    <!--End Of Navigation Bar-->

    <!--Begin of Core Content-->

    <div id="content">
      <aside id="aside">
        <div class="widget" id="login">
          <h3>Enter the web</h3>
          <form>
            <label>User:</label>
            <input type="text" />

            <label>Password</label>
            <input type="password" />

            <input type="submit" />

            <a href="#"> Student Zone</a>
            <a href="#"> Teacher Zone</a>
            <a href="#"> Access to grades</a>
          </form>
        </div>
        <div class="widget" id="login">
          <h3 class="blue">Aula Virtual 1</h3>
          <form>
            <label>Nombre de usuario:</label>
            <input type="text" />

            <label>Password</label>
            <input type="password" />

            <input type="submit" />
          </form>
        </div>
        <div class="widget" id="login">
          <h3 class="red">Aula Virtual 2</h3>
          <form>
            <label>Nombre de usuario:</label>
            <input type="text" />

            <label>Password</label>
            <input type="password" />

            <input type="submit" />
          </form>
        </div>
        <div class="widget" id="login">
          <h3>Enlaces de interes</h3>
          <ul>
            <li>
              <a href="##">Master en Javascript</a>
            </li>
            <li>
              <a href="##">Master en PHP</a>
            </li>
            <li>
              <a href="##">Master en Frameworks JS</a>
            </li>
            <li>
              <a href="##">Master en webs full-stack</a>
            </li>
            <li>
              <a href="##">victorroblesweb.es</a>
            </li>
          </ul>
        </div>
      </aside>
      

      <div id="sections">
        <section id="fronted">
          <h2 class="titulo">Noticias de front-end</h2>
          <article class="article">
            <p>
              <a href="#">Titulo de la entrada</a>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia
              cumque quidem amet tempora distinctio. Omnis accusamus
              consequuntur tenetur incidunt, hic nihil veritatis ipsam rerum,
              molestiae sit porro facilis cumque accusantium.
            </p>
            <span class="date">[20-12-2020. Diego Bustamante]</span>
          </article>
          <article class="article">
            <p>
              <a href="#">Titulo de la entrada</a>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia
              cumque quidem amet tempora distinctio. Omnis accusamus
              consequuntur tenetur incidunt, hic nihil veritatis ipsam rerum,
              molestiae sit porro facilis cumque accusantium.
            </p>
            <span class="date">[20-12-2020. Diego Bustamante]</span>
          </article>
          <article class="article">
            <p>
              <a href="#">Titulo de la entrada</a>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia
              cumque quidem amet tempora distinctio. Omnis accusamus
              consequuntur tenetur incidunt, hic nihil veritatis ipsam rerum,
              molestiae sit porro facilis cumque accusantium.
            </p>
            <span class="date">[20-12-2020. Diego Bustamante]</span>
          </article>
          <article class="article">
            <p>
              <a href="#">Titulo de la entrada</a>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia
              cumque quidem amet tempora distinctio. Omnis accusamus
              consequuntur tenetur incidunt, hic nihil veritatis ipsam rerum,
              molestiae sit porro facilis cumque accusantium.
            </p>
            <span class="date">[20-12-2020. Diego Bustamante]</span>
          </article>
        </section>
        <section id="backend">
          <h2 class="titulo">Noticias de back-end</h2>
          <article class="article">
            <p>
              <a href="#">Titulo de la entrada</a>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia
              cumque quidem amet tempora distinctio. Omnis accusamus
              consequuntur tenetur incidunt, hic nihil veritatis ipsam rerum,
              molestiae sit porro facilis cumque accusantium.
            </p>
            <span class="date">[20-12-2020. Diego Bustamante]</span>
          </article>
          <article class="article">
            <p>
              <a href="#">Titulo de la entrada</a>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia
              cumque quidem amet tempora distinctio. Omnis accusamus
              consequuntur tenetur incidunt, hic nihil veritatis ipsam rerum,
              molestiae sit porro facilis cumque accusantium.
            </p>
            <span class="date">[20-12-2020. Diego Bustamante]</span>
          </article>
          <article class="article">
            <p>
              <a href="#">Titulo de la entrada</a>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia
              cumque quidem amet tempora distinctio. Omnis accusamus
              consequuntur tenetur incidunt, hic nihil veritatis ipsam rerum,
              molestiae sit porro facilis cumque accusantium.
            </p>
            <span class="date">[20-12-2020. Diego Bustamante]</span>
          </article>
          <article class="article">
            <p>
              <a href="#">Titulo de la entrada</a>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia
              cumque quidem amet tempora distinctio. Omnis accusamus
              consequuntur tenetur incidunt, hic nihil veritatis ipsam rerum,
              molestiae sit porro facilis cumque accusantium.
            </p>
            <span class="date">[20-12-2020. Diego Bustamante]</span>
          </article>
        </section>
        <section id="instructor">
          <h2 class="titulo">Noticias de instructor</h2>
          <article class="article">
            <p>
              <a href="#">Titulo de la entrada</a>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia
              cumque quidem amet tempora distinctio. Omnis accusamus
              consequuntur tenetur incidunt, hic nihil veritatis ipsam rerum,
              molestiae sit porro facilis cumque accusantium.
            </p>
            <span class="date">[20-12-2020. Diego Bustamante]</span>
          </article>
          <article class="article">
            <p>
              <a href="#">Titulo de la entrada</a>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia
              cumque quidem amet tempora distinctio. Omnis accusamus
              consequuntur tenetur incidunt, hic nihil veritatis ipsam rerum,
              molestiae sit porro facilis cumque accusantium.
            </p>
            <span class="date">[20-12-2020. Diego Bustamante]</span>
          </article>
          <article class="article">
            <p>
              <a href="#">Titulo de la entrada</a>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia
              cumque quidem amet tempora distinctio. Omnis accusamus
              consequuntur tenetur incidunt, hic nihil veritatis ipsam rerum,
              molestiae sit porro facilis cumque accusantium.
            </p>
            <span class="date">[20-12-2020. Diego Bustamante]</span>
          </article>
          <article class="article">
            <p>
              <a href="#">Titulo de la entrada</a>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia
              cumque quidem amet tempora distinctio. Omnis accusamus
              consequuntur tenetur incidunt, hic nihil veritatis ipsam rerum,
              molestiae sit porro facilis cumque accusantium.
            </p>
            <span class="date">[20-12-2020. Diego Bustamante]</span>
          </article>
        </section>
      </div>
      <aside id="frase">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis sapiente
        voluptatum fuga voluptate distinctio fugit repellat rem aliquid
        perspiciatis ipsa. Eligendi ad, laudantium eveniet fugit exercitationem
        deserunt voluptatibus quia sint?
        <a href="####">Leer más frases</a>
      </aside>
      <div class="clearfix"></div>
      <div id="history">
        <a href="#">[Ver historico de noticias]</a>
      </div>
    </div>
    
    <div class="clearfix"></div>
    <div id="footer">
      <p>&copy; Desarrollado por Victor Robles WEB</p>
      <p>Más contenido y formación de desarrollo web <a href="https://victorroblesweb.es/academy">victorroblesweb.es/academy</a></p>
    </div>
  </body>
</html>
